h1 {
  width: 300px;
  margin: 30px auto;
  font-size:  30px;
}

div {
  width: 30%
}

img {
  width: 100%;
}

section {
  float: left;
  width: 100%;
  padding-right: 5%;
  padding-left: 5%;
  }

section > p {
  font-size: 20px;
  margin: 0 10px;
}

#first-image > first-text {
  /* background-color: blue; */
  float: left;
  width: 30%;
}

#second-image > second-text {
  /* background-color: red; */
  float: left;
  width: 30%;
}
#third-image > third-text {
  /* background-color:green; */
  float: left;
  width: 30%;
}

/* #results {
  margin: 100px;
    
} */

