h1 {
  width: 690px;
  font-size:  40px;
  font-family: fantasy;
  padding: 50px;
  color: blueviolet;
}

div {
  width: 30%
}

img {
  width: 100%;
}

section {
  float: left;
  width: 100%;
  padding-right: 5%;
  padding-left: 5%;
}

section > p {
  font-size: 20px;
  margin: 0 10px;
}

#first {
  float: left;
  width: 30%;
}

#second {
  float: left;
  width: 30%;
}

#third {
  float: left;
  width: 30%;
}

